
.footer {
  background-color: rgb(28, 76, 138);
  padding: 30px; /* Maintained padding */
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  
  
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  font-size: medium;
  color: white;
  
}


.footer-column {
  flex: 1;
  padding: 20px 5px; /* Adjusted padding for better spacing */
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  min-width: 250px; /* Ensure there's a minimum width for the column */
}

.header-title {
  display: block; /* Use block to allow width settings */
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Optional: Add ellipsis if text is too long */
  font-weight: bold; /* Ensure text is bold */
  font-size: 1.6em; /* Optional: Adjust font size if needed */
}


.contact-info {
  color: white;
  text-align: left; /* Align text to the left for contact info */
  padding-top: 1px;
  
}

.contact-info p {
  margin: 20px 0; /* Add vertical spacing around the paragraph */
  line-height: 2.2em; /* Increase line height for better readability */
  color: white; /* Ensure text is white for visibility */
  
}

.contact-info .icon {
  margin-right: 15px; /* Space between icons and text */
  vertical-align: middle; /* Align icons vertically with text */
}

/* Optional: Add a class for the main description */
.contact-info .description {
  margin-bottom: 35px; /* Space below the description text */
}
.operating-hours {
  display: block; /* Makes the line a block element */
  margin-left: 30px; /* Indent to align with Mon-Fri */
  margin-top: -5px; /* Optional: Adjust vertical spacing if needed */
}

.footer-links {
  color: white;
  text-align: middle;
   /* Align text to the left for links */
}

.footer-links a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  
  
}


.footer-links a:hover {
  color: gray;
}

.copyright {
  color: white;
  margin-top: 10px;
}
.copyright p{
  color: white;
}


.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align social icons to the left */
}

.social-icons-container {
  display: flex;
  
}

.social-icons img {
  width: 34px;
  height: 34px;
  margin: 3px;
}
.social-icons p {
  margin: 10px 0; /* Add vertical spacing above and below the paragraphs */
  color: white; /* Set text color to white for visibility */
  text-align: center; /* Center the text */
  font-size: 1em; /* Set a standard font size */
  line-height: 0.5; /* Increase line height for better readability */
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-column {
    margin: 10px 0;
    padding: 10px; /* Adjust padding for smaller screens */
  }
}